<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>File Uploader</title>
  </head>
  <body>
    <div>
      <% if(locals.currentUser){ %>
      <h2>Welcome <%=currentUser.username %></h2>
      <a href="/folders">folders</a>
      <a href="/log-out">Log Out</a>
      <% }else {%>
      <a href="/sign-up">Sign Up</a>
      <p>Already have an account? <a href="/log-in">Log in</a></p>
      <% } %>
    </div>
  </body>
</html>
