@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900');

body {
  position: relative;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #fffbeb;
  display: grid;
  grid-template-columns: 300px 1fr 300px;

  & ul {
    list-style: none;
    padding: 0;
  }

  & .left-sidebar {
    background-color: #fffae5;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.3);

    & h1 {
      & a {
        color: rgb(70, 25, 1);
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 6px;
        & img {
          width: 25px;
        }
      }
    }
    & ul {
      display: grid;
      & a {
        font-weight: 700;
        color: #7b3306;
        display: flex;
        width: 100%;
        box-sizing: border-box;
        height: 50px;
        text-decoration: none;
        align-items: center;
        padding-left: 30px;
        border-bottom: 1px gray solid;
        &:hover {
          background-color: #fdf1be;
        }
      }
    }
  }

  & .right-sidebar {
    background-color: #fffae5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 20px;
    border-left: 1px solid gray;
    & h4 {
      text-align: center;
    }
    & a {
      font-weight: 600;
      color: #7b3306;
      text-decoration: none;
      font-size: 16px;
      font-weight: bold;
      &:hover {
        color: #e17100;
      }
    }
  }

  & .indexContainer {
    display: flex;
    justify-content: center;
    padding-top: 40px;

    & div {
      display: flex;
      flex-direction: column;
      font-size: 1.2em;

      & p:first-child {
        font-size: 1.3em;
        font-weight: 600;
        font-style: italic;
      }
    }
  }

  & .signup-container,
  .login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
  }

  & form {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    width: 30%;

    & input {
      padding: 5px 9px;
      border: 1px #481616 solid;
      border-radius: 4px;
    }
    & button {
      margin-top: 10px;
      width: 50%;
      align-self: center;
      padding: 5px 10px;
      font-weight: 600;
      font-size: 0.9em;
      border-radius: 7px;
      background-color: black;
      color: white;
      cursor: pointer;
      border: none;
      &:hover {
        opacity: 0.8;
      }
    }
  }

  & .folders-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;

    & form {
      flex-direction: row;
      align-items: center;
      justify-content: center;

      & button {
        width: 40px;
        padding: 3px 9px;
        margin: 0;
        background-color: rgb(255, 255, 255);
        border: 1px solid black;
        box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3);
      }
    }

    & .folders {
      width: 100%;

      & p {
        padding: 5px 20px;
        color: #481616;
        & span {
          font-weight: bold;
          color: #762828;
        }
      }

      & ul {
        padding: 20px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
        gap: 2rem;

        & li {
          position: relative;
          display: flex;
          border-radius: 6px;
          border: 1px gray solid;
          background-color: #8294ae;
          transition: transform 300ms ease-in-out;
          will-change: transform;
          &:hover {
            transform: translateY(-3%);
            box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.3);
          }

          & a:first-child {
            text-align: center;
            text-decoration: none;
            color: #fdf1be;
            font-weight: 700;
            padding: 5rem 1rem;
            width: 100%;
            height: fit-content;
          }

          & #update {
            z-index: 1;
            border: none;
            border-bottom-right-radius: 6px;
            border-top-right-radius: 6px;
            font-weight: 600;
            cursor: pointer;
            &:hover {
              color: rgb(123, 23, 23);
            }
          }

          & form {
            width: 100%;
            flex-direction: column;
            gap: 6px;

            & input {
              min-width: 80px;
            }

            & button {
              color: black;
              width: fit-content;
            }
          }

          & .delete-form {
            position: absolute;
            width: fit-content;
            & button {
              border-radius: 50%;
            }
            & img {
              width: 18px;
            }
          }
          & .anchor-share {
            position: absolute;
            font-size: 15px;
            bottom: 4px;
            left: 2px;
            text-decoration: none;
            color: red;
            background-color: white;
            font-weight: 500;
            padding: 2px 4px;
            border-radius: 6px;
            display: flex;
            gap: 2px;

            & img {
              width: 18px;
            }

            &:hover {
              font-weight: 600;
              opacity: 0.8;
            }
          }
        }
      }
    }
  }

  & .files-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;

    & form {
      & .custom-file-upload {
        border: 1px solid #bbd5fa;
        border-radius: 6px;
        background-color: #d8d3be;
        padding: 6px 12px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100px;
        flex-direction: column;
        gap: 5px;
        overflow: hidden;
        transition: background-color 200ms ease-in-out;
        box-shadow: 1px 1px 10px 0px #bbd5fa;

        &:hover {
          background-color: #f7f1d9;
        }

        &:hover img {
          transform: scale(1.1);
        }

        & img {
          width: 40px;
          transition: transform 200ms ease-in-out;
        }

        & span {
          font-weight: 700;
          word-break: break-all;
        }
      }

      & input {
        visibility: hidden;
        position: absolute;
      }
    }

    & .files {
      padding: 20px;
      text-align: center;

      & table {
        border-collapse: collapse;
        border-spacing: 30px;

        & th {
          overflow: hidden;
          color: #29211a;
        }

        & tr {
          border-bottom: 2px solid black;

          &:hover {
            background-color: #4816162b;
          }
        }

        & th,
        td {
          padding: 2rem;
        }

        & a {
          text-decoration: none;
          font-weight: 800;
          color: #0084d1;

          &:hover {
            color: #024267;
          }
        }

        & .delete-form {
          width: 90px;
          & button {
            background-color: #f4baba;
            padding: 4px 0px;
            margin-top: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            &:hover {
              background-color: #64615e;
              opacity: 1;
            }
          }
        }
      }
    }
  }

  & .share-container {
    text-align: center;
    justify-self: center;
    min-width: 30%;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    & form {
      width: 100%;
    }

    & div {
      background-color: #0084d1;
      padding: 2rem;
      border-radius: 6px;
      color: white;
      font-weight: 600;

      & a {
        color: #ffffb8;

        &:hover {
          color: #ffff2c;
        }
      }
    }
  }
}

.shared-folder-body {
  display: block;
  & main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;

    & .files {
      padding: 20px;
      text-align: center;

      & table {
        border-collapse: collapse;
        border-spacing: 30px;

        & th {
          overflow: hidden;
          color: #29211a;
        }

        & tr {
          border-bottom: 2px solid black;

          &:hover {
            background-color: #4816162b;
          }
        }

        & th,
        td {
          padding: 2rem;
        }

        & a {
          text-decoration: none;
          font-weight: 800;
          color: #0084d1;

          &:hover {
            color: #024267;
          }
        }

        & .delete-form {
          width: 90px;
          & button {
            background-color: #f4baba;
            padding: 4px 0px;
            margin-top: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            &:hover {
              background-color: #64615e;
              opacity: 1;
            }
          }
        }
      }
    }
  }
}
